body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    background-image: url("https://wallpaperaccess.com/full/3694273.jpg");
    background-size: stretch;
    background-position: center;
    background-color: rgba(0,0,0,0.2); /* dark overlay */
    background-blend-mode: darken;
}

#superDiv {
    
}

div {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%vw;
    max-width: 1044px;
}

#vis {
    width: 100%;
}

#boxPlot {
    width: 100%;
}

#totalsTable {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr {
    background-color: #fff;
}

